{{ define "main" }}
<main>
<div class="list-title">Learn about design &amp; technology.</div>
{{ range .Pages }}
  <div class="post"><span class="date">{{.Date.Format "2006-01-02"}}</span>
    <a href="{{.Permalink}}">{{.Title}}</a>
  </div>
{{ end }}
</main>
{{ end }}
