@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  src: local('Aleo Italic'), local('Aleo-Italic'), url('/fonts/aleo-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: local('Aleo Regular'), local('Aleo-Regular'), url('/fonts/aleo-regular.ttf') format('truetype');
}

:root {
  --primary-1: hsl(125, 86%, 14%);
  --primary-1-trans: hsla(125, 86%, 14%, .15);
  --primary-2: hsl(125, 73%, 20%);
  --primary-3: hsl(125, 56%, 29%);
  --primary-3-trans: hsla(125, 56%, 29%, .15);
  --primary-4: hsl(122, 47%, 35%);
  --primary-5: hsl(122, 39%, 41%);
  --primary-6: hsl(123, 35%, 51%);
  --primary-7: hsl(123, 38%, 63%);
  --primary-8: hsl(122, 42%, 75%);
  --primary-9: hsl(126, 49%, 84%);
  --primary-10: hsl(125, 65%, 93%);
  --grey-1: hsl(0, 0%, 13%);
  --grey-1-trans: hsla(0, 0%, 13%, .15);
  --grey-2: hsl(0, 0%, 23%);
  --grey-3: hsl(0, 0%, 32%);
  --grey-3-trans: hsla(0, 0%, 32%, .15);
  --grey-3-semi-trans: hsla(0, 0%, 32%, .65);
  --grey-4: hsl(0, 0%, 38%);
  --grey-5: hsl(0, 0%, 49%);
  --grey-6: hsl(0, 0%, 62%);
  --grey-7: hsl(0, 0%, 69%);
  --grey-8: hsl(0, 0%, 81%);
  --grey-9: hsl(0, 0%, 88%);
  --grey-9-trans: hsla(0, 0%, 88%, .50);
  --grey-10: hsl(0, 0% , 97%);
  --grey-11: hsl(0, 0%, 100%);
}

/* html classes */

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--grey-10);
  color: var(--grey-1);
  font-size: 24px;
  font-family: 'Aleo', serif;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Aleo', serif; }

h1 { font-size: 40px; }

@media (min-width:800px) {
  h1 { font-size: 48px; }
}

hr { color: var(--grey-9); }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -50px;
  top: -10px;
  color: var(--grey-6);
}

cite {
  padding-top: 12px;
  display: flex;
  justify-content: flex-end;
}

blockquote {
  position: relative;
  font-size: 20px;
  padding: 12px;
  border-left: 8px solid var(--grey-6);
  box-shadow: inset 0 2px 0 var(--grey-11),
                    0 3px 6px var(--grey-1-trans),
                    0 10px 20px var(--grey-3-trans);
}

code {
  background-color: var(--grey-10);
  color: var(--grey-3);
  border-radius: 4px;
  padding: 8px;
  font-size: 20px;
}

@media (min-width:800px) { blockquote { margin-top: 48px; font-size: 24px; } }

.site-content { flex: 1; }
.half-grey { background: linear-gradient( to bottom, #fff 50%, var(--grey-9) 50%); }

a {
  color: var(--grey-2);
  text-decoration: none;
  background: linear-gradient(to bottom, transparent 0,transparent 60%,var(--primary-10) 60%,var(--primary-10) 100%);
}

.primary-bg a {
  color: var(--primary-10);
  text-decoration: none;
  background: linear-gradient(to bottom, transparent 0,transparent 60%,var(--primary-4) 60%,var(--primary-4) 100%);
}

/* li { margin-bottom: 1.4rem; } */
@media (min-width:800px) { li { margin-bottom: 1.1rem; } }
li:last-child { margin-bottom: 0; }

textarea, input {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

/* blocks */

.block {
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: var(--grey-11);
}

@media (min-width:800px) {
  .block {
    padding: 64px 96px;
  }
}

.pitch {
  padding-top: 96px;
  flex-direction: column;
  background-image: linear-gradient(var(--grey-10), var(--grey-11));
}

.pitch-item { margin-bottom: 32px; }

@media (min-width:800px) {
  .pitch {
    padding-top: 256px;
    flex-direction: row;
  }
  .pitch-item { margin-bottom: 0; }
}

.seperator {
  margin: 32px 0 8px 0;
  height: 2px;
  width: 96px;
  background-color: var(--primary-6);
}

@media (min-width:800px) {
  .seperator {
    margin: 64px 0 32px 0;
    height: 4px;
    width: 128px;
  }
}

.long, .social-proof, .testimonial {
  background-color: var(--grey-11);
  flex-direction: column;
}

@media (max-width:800px) {
  .social-proof > .row > img { width: 80%; }
}

.row {
  padding: 32px 0 0 0;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-evenly;
}

.row > .btn, .row > img {
  display: block;
  margin: 0 auto 48px auto;
}

@media (min-width:800px) {
  .row > .btn, .row > img{
    display: inline-block;
    margin: 24px 24px;
  }
}

@media (max-width:800px) { ul { padding-left: 0px; } }

.long > ul > li {
  width: 11rem;
  font-size: 16px;
}

@media (min-width:800px) {
  .long > ul > li {
    width: 32rem;
  font-size: 24px;
  }
}

.engagement-items > svg {
  display: block;
  margin: 0 auto;
}

.footer {
  color: var(--grey-10);
  background-color: var(--grey-1);
}

.contact {
  background-color: var(--grey-10);
  margin: 0 0 -96px 0;
  color: var(--grey-4);
  padding: 24px;
  border-radius: 8px;
  box-shadow: inset 0 2px 0 var(--grey-11),
                    0 3px 6px var(--grey-1-trans),
                    0 10px 20px var(--grey-3-trans);
}

@media (min-width:800px) {
  .contact {
    margin: -192px 0 -192px 0;
    padding: 48px;
    width: 384px;
    border-radius: 8px;
  }
}

.contact > input[type='text'],
.contact > textarea,
.contact > button {
  font-size: 16px;
  border-radius: 4px;
  padding: 8px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.contact > input[type='text'],
.contact > textarea {
  margin-bottom: 32px;
  height: 48px;
  border: 1px solid var(--grey-7);
}

.contact > textarea { margin-bottom: 0; }

.contact > input[type='text']:hover,
.contact > textarea:hover {
  transition: 0.05s;
  border: 2px solid var(--grey-8);
}

.contact > input[type='text']:focus,
.contact > textarea:focus {
  transition: 0.05s;
  border: 2px solid var(--grey-5);
}

.contact > textarea {
  height: 128px;
}

@media (min-width:800px) {
  .contact > input[type='text'],
  .contact > textarea,
  .contact > button {
    font-size: 24px;
    border-radius: 4px;
    padding: 12px;
    text-align: left;
    width: 384px;
    box-sizing: border-box;
  }

  .contact > input[type='text'],
  .contact > textarea {
    height: 48px;
    margin-bottom: 48px;
  }

  .contact > textarea { height: 128px; }
}

.contact > button {
  display: flex;
  padding: 4px 4px 4px 12px;
  align-items: center;
  justify-content: space-between;
  border: 0;
}

button svg { height: 2.4em; width: 2.4em; }

.header { margin: 0; align-items: center; }
.header a { background: none; }

@media (min-width:800px) {
  .header {
    margin: 0 0 64px 0;
    align-items: center;
  }
}

.logo {
  font-size: 48px;
  letter-spacing: -14px;
  text-decoration: none;
  background: none;
  color: var(--grey-2)
}

.footer > .logo { color: var(--grey-10); }

.blog-content {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
}

@media (min-width:800px) { .blog-content p { width: 32rem; } }

.blog-content img {
  border-radius: 4px;
  width: 100%;
  box-shadow: inset 0 2px 0 var(--grey-11),
                    0 3px 6px var(--grey-1-trans),
                    0 10px 20px var(--grey-3-trans);
}

/* elements */

nav {
  display: inline-flex;
  margin-bottom: 24px;
}

nav a {
  z-index: 5;
  color: var(--primary-1);
  font-size: 24px;
  margin-left: 12px;
  margin-bottom: 12px;
}

.nav-section .logo {
  height: 48px;
}

@media (max-width:800px) {
  .nav-section .logo {
    height: 38px;
  }
}

.nav-section {
  display: flex;
  justify-content: space-between;
}

.logo-link {
  display: inline-flex;
  background: none;
  margin-top: -2px;
}

@media (max-width:800px) { margin-top: -2px; }

@media (min-width:800px) {
  nav {
    display: inline-flex;
    padding-top: 36px;
    justify-content: flex-end;
  }
  .logo-link {
    padding-top: 36px;
  }
  nav a {
    font-size: 40px;
    margin-right: 32px;
    margin-bottom: 0;
  }
  nav a:last-child { margin-right: 0; }
}

#desktop { display: none; }
#mobile { flex-direction: column; }

@media (min-width:800px) {
  #desktop { display: flex; }
  #mobile { display: none; }
}

.hero-section, .systems-section, .portfolio-section, .about-section {
  padding-bottom: 18px;
}

@media (min-width:800px) {
  .hero-section, .systems-section, .portfolio-section, .about-section {
    padding-bottom: 32px;
  }

  .contact-section {
    margin-bottom: 32px;
  }
}

.about-content {
  display: inline-flex;
}

.portfolio-section ul {
  margin-bottom: 12px;
  padding-left: 30px;
  font-size: 18px;
}
.portfolio-section a {
  font-size: 20px;
  margin-left: 30px;
}
.portfolio-title { font-size: 24px; }
.portfolio-title svg {
  width: 1rem;
  height: .8rem;
  padding-right: 4px;
}

@media (min-width:800px) {
  .portfolio-section ul {
    height: 256px;
    font-size: 22px;
    padding-left: 36px;
  }
  .portfolio-section a {
    font-size: 24px;
    margin-left: 36px;
  }
  .portfolio-title { font-size: 32px; }
  .portfolio-title svg { padding-right: 10px; }
}

.hero-text {
  position: relative;
  padding-top: 100px;
  color: var(--primary-1);
  font-size: 24px;
  width: 8rem;
}

@media (min-width:800px) {
  .hero-text {
    position: relative;
    padding-top: 300px;
    font-size: 64px;
    width: 20rem;
  }
}

.hero-logo {
  position: absolute;
  z-index: 3;
  bottom: 60px;
  right: -80px;
  width: 40px;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.hero-cog {
  position: absolute;
  width: 160px;
  z-index: 3;
  bottom: 0px;
  right: -140px;
  animation:spin 4s linear infinite;
}

@media (min-width:800px) {
  .hero-logo {
    bottom: 150px;
    right: -350px;
    width: 80px;
  }
  .hero-cog {
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 40px;
    right: -460px;
    width: 300px;
    animation:spin 4s linear infinite;
  }
}

.off-box {
  position: absolute;
  bottom: -10px;
  right: -87px;
  width: 90px;
  height: 170px;
  overflow: hidden;
}

@media (min-width:800px) {
  .off-box {
    position: absolute;
    bottom: -100px;
    right: -870px;
    width: 900px;
    height: 1700px;
    overflow: hidden;
  }
}

.hero-off-cog {
  z-index: 2;
  position: absolute;
  top: -300px;
  width: 2000px;
  animation:spin 9s linear infinite;
}

.hero-introduction {
  padding-top: 30px;
  padding-bottom: 12px;
  color: var(--primary-1);
  font-size: 24px;
  width: 14rem;
}

@media (min-width:800px) {
  .hero-introduction {
    padding-top: 300px;
    padding-left: 400px;
    padding-bottom: 56px;
    color: var(--primary-1);
    font-size: 64px;
    width: 35rem;
  }
}

.cta {
  margin-top: 24px;
  font-style: italic;
  padding: 8px 12px;
  border-radius: 8px;
  color: var(--primary-1);
  background-color: var(--primary-9);
  font-size: 24px;
  width: 6rem;
}

.cta:hover {
  transition: all .3s ease-in-out;
  box-shadow: inset 0 3px 6px var(--primary-1-trans),
              inset 0 5px 20px var(--primary-3-trans);
}

a.cta {
  display: block;
  background: none;
  background-color: var(--primary-9);
}

@media (min-width:800px) {
  .cta {
    padding: 16px 24px;
    border-radius: 25px;
    font-size: 58px;
    width: 15rem;
    margin-top: 48px;
  }
}

.system-text {
  font-size: 24px;
  padding-top: 48px;
}

.portrait {
  width: 256px;
  height: 256px;
  display: block;
  margin: 24px auto;
  box-shadow: inset 0 2px 0 var(--grey-11),
  0 3px 6px var(--grey-1-trans),
  0 10px 20px var(--grey-3-trans);
}

@media (min-width:800px) {
  .portrait {
    width: 384px;
    height: 384px;
    margin: 32px;
  }
}

.portfolio-section:first-child { padding-top: 0; }

@media (min-width:800px) {
  .system-text {
    font-size: 64px;
    padding-top: 300px;
  }
}

.more-text {
  width: 16rem;
  text-align: justify;
}

.text-block {
  display: inline-block;
  padding-top: 24px;
  width: 16rem;
}

@media (min-width:800px) {
  .text-block {
    padding-top: 12px;
  }
}

.text-block li {
  width: 10rem;
}

.primary { fill: var(--primary-8); }
.secondary { fill: var(--primary-1); }
.tertiary { fill: var(--primary-7); }

.icon-heart{ width: 6.5rem; padding-right: 24px; }
.icon-mood-happy{ width: 5.5rem; padding-right: 24px; }
.icon-launch { width: 3.5rem; padding-right: 24px; }
.icon-time { width: 3rem; padding-right: 24px; }
.icon-trending-up { width: 2.5rem; padding-right: 24px; }
.icon-hour-glass { width: 3.5rem; padding-right: 24px; }

@media (min-width:800px) {
  .icon-heart{ width: 6rem; padding-right: 48px; }
  .icon-mood-happy{ width: 5rem; padding-right: 48px; }
  .icon-launch { width: 3.2rem; padding-right: 48px; }
  .icon-time { width: 3rem; padding-right: 48px; }
  .icon-trending-up { width: 2.6rem; padding-right: 48px; }
  .icon-hour-glass { width: 3.8rem; padding-right: 48px; }
}

.engagement-items {
  display: flex;
  align-items: center;
  list-style: none;
}

.project-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

@media (min-width:800px) {
  .project-block {
    flex-direction: row;
  }
}

.project-item {
  position: relative;
  width: 85%;
  display: inline-block;
  text-decoration: none;
  margin: 96px 96px 0 0;
  padding: 20px;
  border-radius: 4px;
  background: none;
  background-color: var(--grey-10);
  font-size: 40px;
  box-shadow: 0 2px 0 var(--grey-11),
              inset      0 3px 6px var(--grey-1-trans),
              inset      0 10px 20px var(--grey-3-trans);
}

@media (min-width:800px) {
  .project-item {
    width: 256px;
    height: 256px;
  }
}

.project-item > img {
  max-width: 216px;
  max-height: 216px;
  display: block;
  margin: auto;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  color: var(--grey-10);
  background-color: var(--grey-3-semi-trans);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.project-overlay span {
  margin: 0 auto;
}

.project-item:hover .project-overlay {
  opacity: 1;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px;
  margin: 24px 0;
  background: none;
  box-shadow: 0 3px 6px var(--primary-1-trans),
              0 5px 20px var(--primary-3-trans);
}

.btn:hover {
  transition: all .3s ease-in-out;
  box-shadow: 0 1px 3px var(--grey-1-trans),
              0 3px 10px var(--grey-3-trans);
}

.inset {
  box-shadow: inset 0 3px 6px var(--primary-1-trans),
              inset 0 5px 20px var(--primary-3-trans);
}

.faint-bg {
  background-color: var(--grey-9-trans);
}

.date {
  display: block;
  font-size: 16px;
  width: 80px;
  color: var(--grey-5);
}

.list-title {
  margin-top: 48px;
  margin-bottom: 24px;
  font-size: 32px;
}

@media (min-width:800px) {
  .list-title {
    margin-top: 96px;
    margin-bottom: 48px;
    font-size: 48px;
  }
}

.post { margin: 24px 0;}
.post > a {
  font-size: 24px;
  margin-bottom: 5px;
  background: linear-gradient(to bottom, transparent 0,transparent 60%,var(--primary-10) 60%,var(--primary-10) 100%);
}

@media (min-width:800px) {
  .date {
    display: inline-block;
    font-size: 24px;
    width: 128px;
  }

  .post > a {
    font-size: 32px;
    margin-bottom: 5px;
    background: linear-gradient(to bottom, transparent 0,transparent 60%,var(--primary-10) 60%,var(--primary-10) 100%);
  }
}

/* modifiers */

.primary {
  background-color: var(--primary-7);
  color: var(--primary-1);
}

.secondary {
  background-color: var(--primary-9);
  color: var(--primary-2);
}

.tertiary {
  border: 1px solid var(--primary-2);
  color: var(--primary-2);
}

.yorlady { background-color: hsl(42, 87%, 55%); }

.gradient {
  background-image: linear-gradient(var(--grey-11), var(--grey-9));
}

.no-margin-bottom { margin-bottom: 0 !important; }

.center {
  margin: 0 auto;
  box-shadow: 0 3px 6px var(--grey-1-trans),
              0 10px 20px var(--grey-3-trans);
}

.content-width {
  padding: 24px 32px;
  max-width: 375px;
}

@media (min-width:800px) {
  .content-width {
    padding: 24px 150px;
    max-width: 1200px;
  }
}

.grey-bg { background-color: var(--grey-10); }
.primary-bg { background-color: var(--primary-1); color: var(--primary-10); }
.white-bg { background-color: var(--grey-11); }
.tracks-bg {
  background-image: url('images/misty-tracks-web.jpg');
  background-size: cover;
}


@media (min-width:800px) { .space-underneath { margin-bottom: 384px;} }

@media (max-width:800px) { .desktop { display: none; } }
@media (min-width:800px) { .mobile { display: none; } }
